     
  .pop-box { 
   /*弹出窗口后，弹出的DIV采用此CSS，保证置于最上层
     z-index控制Z轴的坐标，数值越大，离用户越近
    */ 
    z-index: 9999999; /*这个数值要足够大，才能够显示在最上层*/  
    margin-bottom: 3px; 
    display: none; 
    position: absolute; 
    background: white; 
    border: solid 1px #6e8bde; 
  } 
    
  #bg{ 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    /*弹出窗口后，添加遮罩层，采用此CSS，将该层置于弹出DIV和页面层之间
     z-index控制Z轴的坐标，数值越大，离用户越近 rgba(72, 74, 68, 0.46)
    */ 
    z-index: 1001;  
    background-color:#8f9f8f;
    -moz-opacity: 0.7; 
    opacity: .70; 
    filter: alpha(opacity = 70); 
  } 
   .btnOption{
   	height: 30px;
   	width: 50px;
   	color: #FFFFFF;
   	background-color: black;
   	margin-right: 10px;
   	border-radius: 4px;
   }
   
   .pop-box-head{
   		height: 50px;
   		width: 100%;
   		font-size: 18px;
   }
   
   .pop-box-body{
   		width: 100%;
   		height: 400px;
   		margin-top: 5px;
   		overflow: auto;
   }
   .pop-box-title{
   	background-color: #6E8BDE;
   	color: white;
   	padding-left: 5px;
   }
   .pop-box-type{
   	background-color: darkturquoise;
   	color: white;
   	padding-left: 10px;
   }
   .pop-box-foot{
		width: 100%;
   		height: 30px;
   		text-align: right;
   		margin-top: 5px;
   }
   .subClass{
		color: white;
		background: none;
		border: none;
		text-align: center;
		margin: 0;
		font-size: 18px;
   }
     
